@page "/quizhome"
@inject NavigationManager Navimnger;
<h1 style="background-color: aqua;">Check your Knowledge</h1>

<div hidden="@HideButtonStartQuiz">
    <button class="btn btn-primary" @onclick="StartQuiz">Start Quiz</button>
</div>

<div hidden="@HideQustionPanel">
    <h3><span> Question Panel</span></h3>
    <h2><span>@currentQuestion.QuestionText</span></h2>
    <fieldset>
        <legend> Select the options below: </legend>
        <InputRadioGroup @bind-Value="userSelectedAnswer">
            <div>
                <label>
                    <InputRadio Value="@currentQuestion.Option01Text" />
                    @currentQuestion.Option01Text
                </label>
            </div>
            <div>
                <label>
                    <InputRadio Value="@currentQuestion.Option02Text" />
                    @currentQuestion.Option02Text
                </label>
            </div>
            <div>
                <label>
                    <InputRadio Value="@currentQuestion.Option03Text" />
                    @currentQuestion.Option03Text
                </label>
            </div>
            <div>
                <label>
                    <InputRadio Value="@currentQuestion.Option04Text" />
                    @currentQuestion.Option04Text
                </label>
            </div>
        </InputRadioGroup>
    </fieldset>

    <button class="btn btn-secondary" @onclick="VerifyAnswer">Check your Answer</button>
    <div>
        <div hidden="@HideAnswerPanel">
            @userResult
        </div>
        <br>
        <div>
            <button class="btn btn-secondary" @onclick="IncrementQuestionNumber">Next Question</button>
        </div>
    </div>

</div>
<br>
<div>
    <button class="btn btn-secondary" @onclick="Quit" hidden="@HideButtonQuit">Quit</button>
    <button class="btn btn-secondary" @onclick="QuitQuiz" hidden="@HideButtonQuitQuiz">Quit Quiz</button>
</div>
